<%= react_component 'AdminPreferencesView' %>

<!-- <table>
  <tr class="pitch">
    <th>Pitch Title:</th>
    <th>Team Leader:</th>
    <th>1st Places</th>
    <th>2nd Places</th>
    <th>3rd Places</th>
  </tr>
  <% @pitches.each do |pitch| %>
  <tr class="pitch">
    <td><%=pitch.title%></td>
    <td><%= pitch.author.full_name%></td>
    <td><%= pitch.preferences.select {|pref| pref.rank == 1}.count%> </td>
    <td><%= pitch.preferences.select {|pref| pref.rank == 2}.count%> </td>
    <td><%= pitch.preferences.select {|pref| pref.rank == 3}.count%> </td>
  </tr>
  <% end %>
</table>

<table>
  <tr class="student">
    <th>Student:</th>
    <th>1st:</th>
    <th>2nd:</th>
    <th>3rd:</th>
  </tr>
  <% @students.each do |student| %>
    <tr class="student">
      <td><%= student.full_name%></td>
      <td></td>
      <td><%= student.preferences.find {|pref| pref.rank == 2}.pitch.title%> </td>
      <td> </td>
    </tr>
  <% end %>
</table> -->
